{
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "overrides": [
    {
      "__comment__": "This should be removed if this is fixed: https://github.com/prettier/prettier/pull/15927",
      "files": "tsconfig.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
